<article>
  <div>
    <ol class="">
      @if (($experience() | async); as experience) {
        @for (xp of experience; track $index) {
          <li class="mb-12">
            <app-xp-card 
              [period]=`${xp.start}&nbsp;-&nbsp;${xp.end}`
              [responsibility]="xp.job.position"
              [description]="xp.job.description"
              [enterprise]="xp.company.name"
              [enterpriseLink]="xp.company.link"
              [enterpriseProjectLink]="xp.company.productLink"
              [enterpriseProjectLinkDescription]="xp.company.productLinkDescription"
              [tags]="xp.tags"
            />
          </li>
        } 
      }
    </ol>
  </div>
</article>