<mat-card class="">
  <div class="flex flex-col lg:flex-row">
    <div class="w-full">
      <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </div>

    <div class="w-full flex flex-col justify-between">
      <mat-card-header>
        <mat-card-title>Github</mat-card-title>
        <mat-card-subtitle>Rede social</mat-card-subtitle>
      </mat-card-header>

      <mat-card-actions>
        <button
          class="text-xs"
          mat-raised-button
          color="primary"
        >
          Ir para Github
        </button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
