<div
  *ngIf="(userInfo$ | async) as userInfo"
  class="w-full flex justify-center"
>
  <div class="mt-8 flex gap-8 flex-col w-4/6">
    <app-input-text
      label="Nome Completo"
      [value]="userInfo.name"
      hint="Nome do usuário"
    />

    <div class="flex flex-col gap-4 md:flex-row">
      <app-input-text
        class="w-full"
        label="Telefone"
        [value]="userInfo.phone_number"
        hint="Telefone para contato"
      />

      <app-input-text
        class="w-full"
        label="E-mail"
        [value]="userInfo.email"
        hint="Endereço de e-mail para contato"
      />
    </div>

    <div class="flex gap-4">
      <app-social-card />
      <app-social-card />
    </div>

    <p>Github: <a [href]="userInfo.github" target="_blank">link</a></p>
    <p>Linkedin: <a [href]="userInfo.linkedin" target="_blank">link</a></p>
  </div>
</div>
